body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #2a2a2e;
}

.topnav {
  overflow: hidden;
  background-color: #2A2A2E;
  background-image: linear-gradient(to right, #5F4CC7 , #E00E67);
  box-shadow: 0 0 3px 3px #00000044;
  font-family: 'Staatliches', cursive;
  position: fixed;
  top: 0;
  width: 100%;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 5px 10px;
  margin: 5px;
  text-decoration: none;
  font-size: 17px;
  border-radius: 5px;
}

.topnav a:hover {
  background-color: #FFFFFF11;
  color: white;
}

.topnav a.active {
  background-color: #FFFFFF44;
  color: white;
}

.main {
  margin-top: 60px;
}

#widget {
    color: #9f9f9f;
    background-color: #2A2A2E;
    margin: 15px;
    padding: 5px 20px;
    border-radius: 10px;
    box-shadow: 0 0 3px 3px #00000044;
    font-family: 'Fira Sans', sans-serif;
}
